#result {
	display: none;
}

#content {
	font-size: 10px;
}

#go {
	margin: 20px 0px 10px 0px;
}

#info-twitter,
#info-tumblr {
	font-size: 12px;
	color: grey;
	padding: 0px 0px 20px 0px;
}

h2 {
	display: inline;
}